<div th:replace="fragments/head :: head"></div>
<title>Admin all users</title>
</head>
<body>
<div th:replace="fragments/navbar :: navigation"></div>
<div class = "container">
	<table class="table table-striped">
	
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">First name</th>
				<th scope="col">Last name</th>
				<th scope="col">Passport number</th>
				<th scope="col">Address</th>
				<th scope="col">Phone number</th>
				<th scope="col">Email</th>
				<th scope="col">Role</th>

			</tr>
		</thead>

		<tbody>
			<tr th:each="item, iter: ${userList}">
				<td th:text="${item.id}"></td>
				<td th:text="${item.firstName}"></td>
				<td th:text="${item.lastName}"></td>
				<td th:text="${item.passportNumber}"></td>
				<td th:text="${item.address}"></td>
				<td th:text="${item.phoneNumber}"></td>
				<td th:text="${item.email}"></td>
				<td th:text="${item.role}"></td>
				<td><a type="button" class="btn btn-primary" th:href="@{/admin/allusers/deleteuser(id=${item.id})}">Delete</a></td>
				<td><a type="button" class="btn btn-secondary" th:href="@{/admin/allusers/flight(userId=${item.id})}">Flights</a></td>>
				</tr>
	
		</tbody>

	</table>
</div>
</body>
</html>