<div th:replace="fragments/head :: head"></div>
<title>Admin welcome</title>
</head>
<body>
<div th:replace="fragments/navbar :: navigation"></div>
	<div class="container">
		<h2>Admin add flight</h2>
			
		<form action="#" th:action="@{/admin/allflights/addflight}"
			th:object="${adminNewFlight}" method="post">
			
			<div class = "row">
			<div class="col-sm-6 form-group">
				<label> Flight number: </label> <Input type="text"
					th:field="*{flightNumber}" th:required="required" class="form-control" />
				<p th:if="${#fields.hasErrors('flightNumber')}"
					th:errors="*{flightNumber}" class="alert alert-danger"></p>
			</div>
			
			</div>
			
			<div class = "row">
			<div class="col-sm-6 form-group">
				<label> Origin: </label> <Input type="text"
					th:field="*{origin}" th:required="required" class="form-control" />
				<p th:if="${#fields.hasErrors('origin')}" th:errors="*{origin}"
					class="alert alert-danger"></p>
			</div>
			<div class="col-sm-6 form-group">
				<label> Destination: </label> <Input type="text" th:field="*{destination}"
					th:required="required" class="form-control" />
					<p th:if="${#fields.hasErrors('destination')}"
					th:errors="*{destination}" class="alert alert-danger"></p>
			</div>
			</div>
			
			<div class = "row">
				<div class="col-sm-6 form-group">
				<label> Take off time: </label> <Input type="time"
					th:field="*{takeOffTime}" th:required="required" class="form-control"/>
					<p th:if="${#fields.hasErrors('takeOffTime')}"
					th:errors="*{takeOffTime}" class="alert alert-danger"></p>
			</div>
			<div class="col-sm-6 form-group">
				<label> Landing time: </label> <Input type="time" th:field="*{landingTime}"
					th:required="required" class="form-control"/>
					<p th:if="${#fields.hasErrors('landingTime')}"
					th:errors="*{landingTime}" class="alert alert-danger"></p>
			</div>
			</div>
			
			<div class = "row">
				<div class="col-sm-6 form-group">
				<label> Departure date: </label> <Input type="date" class="date-input"
					th:field="*{takeOffDate}" />
					<p th:if="${#fields.hasErrors('takeOffDate')}"
					th:errors="*{takeOffDate}" class="alert alert-danger"></p>
			</div>
			<div class="col-sm-6 form-group">
				<label> Landing date: </label> <Input type="date" class="date-input"
					th:field="*{landingDate}" />
					<p th:if="${#fields.hasErrors('landingDate')}"
					th:errors="*{landingDate}" class="alert alert-danger"></p>
			</div>
			</div>
			
			<div class = "row">
			<div class="col-sm-6 form-group">
				<label> Airline: </label> <Input type="text"
					th:field="*{airline}" th:required="required" class="form-control" />
				<p th:if="${#fields.hasErrors('airline')}"
					th:errors="*{airline}" class="alert alert-danger"></p>
			</div>
			<div class="col-sm-6 form-group">
				<label> Price: </label> <Input type="text"
					th:field="*{price}" th:required="required" class="form-control" />
				<p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
					class="alert alert-danger"></p>
			</div>
			</div>

			<button type="submit" class="btn btn-primary btn-block mt-3">Add flight</button>
		</form>
	</div>
</body>
</html>