<div th:replace="fragments/head :: head"></div>
<title>Flight confirmation</title>
</head>
<body>
	<div th:replace="fragments/navbar :: navigation"></div>
	<h2>Flight passsenger information</h2>
	<tr th:each="var : ${confirmUserDetails}">
		<td th:text="${obj.firstName}">First name</td>
		<td th:text="${obj.lastName}">Last name</td>
		<td th:text="${obj.passportNumber}">Passport number</td>
		<td th:text="${obj.address}">Email</td>
		<td th:text="${obj.phoneNumber}">Phone number</td>
	</tr>

	<h2>Payment information</h2>
	<form action="#" th:action="@{/paymentsuccess}"
		th:object="${paymentInfo}" method="post">
		
		<div class="col-lg-3" th:object="${test}">
    <select class="form-control" id="testOrder" name="testOrder">
        <option value="">Select Test Order</option>
        <option th:each="mm : ${mmList}"
                th:value="${test.testCode}"
                th:text="${test.testCode}+' : '+${test.testName}"></option>
    </select>
</div>
		
		</form>
</body>
</html>
x
