<div th:replace="fragments/head :: head"></div>
<title>Admin welcome</title>
</head>
<body>
<div th:replace="fragments/navbar :: navigation"></div>
	<div class="container">
			<h2>Registration</h2>
			
		<form action="#" th:action="@{/registration}"
			th:object="${userRegistration}" method="post">
			
			<div class = "row">
			<div class="col-sm-6 form-group">
				<label> First name: </label> <Input type="text"
					th:field="*{firstName}" th:required="required" class="form-control" />
				<p th:if="${#fields.hasErrors('firstName')}"
					th:errors="*{firstName}" class="alert alert-danger"></p>
			</div>
			<div class="col-sm-6 form-group">
				<label> Last name: </label> <Input type="text"
					th:field="*{lastName}" th:required="required" class="form-control" />
				<p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
					class="alert alert-danger"></p>
			</div>
			</div>
			
			<div class = "row">
			<div class="col-sm-6 form-group">
				<label>Password : </label> <Input type="password"
					th:field="*{password}" th:required="required" class="form-control" />
					<p th:if="${#fields.hasErrors('password')}"
					th:errors="*{password}" class="alert alert-danger"></p>
			</div>
			<div class="col-sm-6 form-group">
				<label>Confirm password: </label> <Input type="password"
					th:field="*{matchingPassword}" class="form-control" />
					<p th:if="${#fields.hasErrors('matchingPassword')}"
					th:errors="*{matchingPassword}" class="alert alert-danger"></p>
			</div>
			</div>
			
			<div class = "row">
			<div class="col-sm-6 form-group">
				<label>Email: </label> <Input type="text" th:field="*{email}"
					th:required="required" class="form-control" />
					<p th:if="${#fields.hasErrors('email')}"
					th:errors="*{email}" class="alert alert-danger"></p>
			</div>
			<div class="col-sm-6 form-group">
				<label>Passport number: </label> <Input type="text"
					th:field="*{passportNumber}" th:required="required" class="form-control"/>
					<p th:if="${#fields.hasErrors('passportNumber')}"
					th:errors="*{passportNumber}" class="alert alert-danger"></p>
			</div>
			</div>
			
			<div class = "row">
			<div class="col-sm-6 form-group">
				<label>Address: </label> <Input type="text" th:field="*{address}"
					th:required="required" class="form-control"/>
					<p th:if="${#fields.hasErrors('address')}"
					th:errors="*{address}" class="alert alert-danger"></p>
			</div>
			<div class="col-sm-6 form-group">
				<label>Phone number: </label> <Input type="text"
					th:field="*{phoneNumber}" th:required="required" class="form-control"/>
					<p th:if="${#fields.hasErrors('phoneNumber')}"
					th:errors="*{phoneNumber}" class="alert alert-danger"></p>
			</div>
			</div>

			<button type="submit" class="btn btn-primary btn-block mt-3">Register</button>
		</form>
	</div>
</body>
</html>